<ion-view class="fondologin">
  <ion-content>

      <div class="row filalogin">
        <div class="col">
          <div class="espacio">
            <div class="centrado">
              <img src="http://www.piopiogame.com/assets/img/projects/gif/verde_futbolista.gif" class="logo">
            </div>
            <br>
            <form class="formulario">
              <input type="text" ng-model="email" placeholder="E-mail">
            </form>.
            <form class="formulario">
              <input type="text" ng-model="password" placeholder="Password">
            </form>
            <br><br>
            <button class="aceptar" type="button" name="button">Aceptar</button>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
