<ion-view class="fondologin">
  <ion-content class="cont">
    <div class="row andro">
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <center><img class="imglogo" src="../img/logo2.png" alt=""></center><br><br>
        <center><form>
          <div class="group">
            <input class="input" type="text" required>
            <span class="bar"></span>
            <label class="label">E-mail</label>
          </div>
          <div class="group">
            <input class="input" type="password" required>
            <span class="bar"></span>
            <label class="label">Password</label>
          </div>
        </form><center>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
          <center><button class="inaceptar"  type="button" name="button">Start</button></center>
      </div>
      <div class="col-50">
        <center><button class="inaceptar"  type="button" name="button">Siguin in</button></center>
      </div>
    </div>
  </ion-content>
</ion-view>