<ion-view class="fondologin">
  <ion-content>
    <div class="row espacio">
      <div class="col-100">
          <div class="espaciologin">
            <div class="row">
              <div class="col text-center">
                  <img src="../img/logo.jpg" class="logo">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <form class="tex">
                  <input class="int" type="text" name="">
                </form>
                <form  class="tex">
                  <div class="col-10">
                    <img src="https://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png" class="img">
                  </div>
                  <div class="col-90">
                  <input class="int" type="password" name="">                    
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
