<ion-view class="fondologin">
  <ion-content class="cont">

    <div class="row">
      <div class="col">
        <center><img class="imglogo" src="../img/logo2.png" alt=""></center><br><br>
        <center><form>
          <div class="group">
            <input class="input" type="text"required>
            <span class="bar"></span>
            <label class="label">Name</label>
          </div>
          <div class="group">
            <input class="input" type="text"required>
            <span class="bar"></span>
            <label class="label">Surnames</label>
          </div>
          <div class="group">
            <input class="input" type="number"required>
            <span class="bar"></span>
            <label class="label">Phone</label>
          </div>
          <div class="group">
            <div class="row">
              <div class="col">
                <h1 class="genero">Gender</h1>
              </div>
            </div>
            <select class="" name="select">
              <option value="-">  </option>
              <option value="Hombre">Man</option>
              <option value="Mujer">Woman</option>
            </select>
          </div>
          <div class="group">
            <input class="input" type="text"required>
            <span class="bar"></span>
            <label class="label">E-mail</label>
          </div>
          <div class="group">
            <input class="input" type="password" required>
            <span class="bar"></span>
            <label class="label">Password</label>
          </div>
        </form><center>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
          <center><button class="inaceptar"  type="button" name="button">Register</button></center>
      </div>
      <div class="col-50">
        <center><button class="inaceptar"  type="button" name="button">Return</button></center>
      </div>
    </div>

  </ion-content>
</ion-view >