/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.fondologin{
  background: url("http://www.ihumanblog.com/sfondi-e-wallpapers/download/29_d6a882aea812501ba12083690df6d5f9")no-repeat;
  background-size: cover;
}
.logo2{
    height: 100px;
    width: 150px;
}
.cont{
  margin: 0 auto;
}
.imglogo{
  width: 60%;
  height: 150px;
}
.container    {
  font-family:'Roboto';
  width:600px;
  margin:30px auto 0;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
}
h2     {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer   { text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:45px;
}
.andro{
  height: 15%;
}

.input         {
  color: #ffffff !important;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background: none;
}
.input:focus     { outline:none;background: none;color:#ffffff;}

/* LABEL ======================================= */
.genero{
    width: 100%;
    height: auto;
    color: #cccccc;
    font-family: monospace;
}
select{
  width: 100%;
  height: auto;
  color: #ffffff;
  background: #0E698A;
}

.label          {
  color:#08445A;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:18px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.input:focus ~ .label, .input:valid ~ .label    {
  top:-20px;
  font-size:14px;
  color:#ffffff;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px;background: none;height: 5px;}
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width:50%;
  color: #ffffff;
}

/* HIGHLIGHTER ================================== */
.highlight {
  background: none;
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
  height: 10px;
  color: #ffffff;
  background: none;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

.inaceptar{
  width: 90%;
  background: none;
  color: #0E698A;
  border-radius: 36px;
  border: 3px solid #0E698A;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

















/*inicio codigo de slider que se utilizo para el tutorial*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }

.slides {
  /*  margin-top: 30% !important;*/
    padding: 0;
    width: 100%;
    height: 430px;
    display: block;
    margin: 0 auto;
    position: relative;
    border: 3px solid #0E698A;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 10%;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 80pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  margin-left: 50px;
	width: 60%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 10%;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-4:checked ~ .nav-dots label#img-dot-10,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

.tutoimg{
    width: 100% !important;
}
/*fin codigo del slider*/
.contenedortutorial{
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  background: url("http://www.ihumanblog.com/sfondi-e-wallpapers/download/29_d6a882aea812501ba12083690df6d5f9")no-repeat;
  background-size: cover;
}
.siguiente{
  margin-left: 74%;
  border-radius: 30px;
  opacity: 0.5;
  background: #0C1C2B;
  color: #fff;
  border: 1px solid #0E698A;
}
.espaciodecorado{
  height: 30px !important;
  width: 100%;
  background:#0E738B;
}
.espaciodecorado2{
  height: auto !important;
  width: 100%;
  background:#ccc;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;

}